<footer class="footer_container bg-black text-white py-4">
  <div class="container d-flex flex-column align-items-baseline gap-5">
    <div class="top d-flex align-items-end flex-wrap gap-5">
      <div class="marlins col-lg-3 col-md-6 col-sm-12 mb-3 mb-md-0">
        <img src="../../../assets/marlin.png" alt="" />
        <div class="overlay">
          <p class="text-uppercase">TM</p>
        </div>
      </div>
      <div class="tag d-flex align-items-center flex-wrap gap-4 pb-2">
        <p>Official Info</p>
        <p>Help/Contact Us</p>
        <p>Accessibility</p>
        <p>Job Opportunities</p>
        <p>Partnership</p>
      </div>
    </div>
    <div class="bottom d-flex align-items-center gap-4 flex-wrap align-items-md-center">
      <div
        class="images d-flex align-items-center flex-wrap gap-4"
      >
        <div class="first">
          <img
            src="../../../assets/Major_League_Baseball_logo.svg.png"
            alt="Logo"
            class="img-fluid"
          />
        </div>
        <div class="line"></div>
        <div class="second">
          <img
            src="../../../assets/B&G_Club.jpg"
            alt="Logo"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="tags_certificate">
        <div class="tags d-flex flex-wrap gap-4 mb-1">
          <p>Terms of Use</p>
          <p>Privacy Policy</p>
          <p>Legal Notices</p>
          <p>Contact Us</p>
          <p>Do Not Sell My Personal Data</p>
        </div>
        <div class="certificate">
          <p class="">© 2024 MLB Advanced Media, LP. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
