<div class="navbar_top d-flex justify-content-between align-items-center">
  <div class="left d-none d-md-flex align-items-center">
    <div class="logo">
      <img src="../../../assets/miami-marlins.png" alt="Logo" />
    </div>
    <p class="mx-2">Earn Points</p>
    <p class="mx-2">Club 305</p>
    <select class="form-select mx-2" aria-label="Help Menu">
      <option selected>Help</option>
      <option value="1">Faqs</option>
    </select>
  </div>
  <div class="right d-none d-md-flex align-items-center">
    <div class="challenges mx-2">
      <i class="bi bi-trophy-fill"></i>
      <p>23463268 Pts</p>
    </div>
    <div class="price mx-2">
      <i class="bi bi-currency-dollar"></i>
      <p>$50.00</p>
    </div>
    <div class="notification mx-2 position-relative">
      <i class="bi bi-bell-fill position-relative notify">
        <span class="badge bg-danger position-absolute translate-middle"
          >1</span
        >
      </i>
    </div>
    <select class="form-select mx-2" aria-label="User Menu">
      <option selected>Riley</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <button
    class="btn d-md-none menu_button_icon"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#mobileMenu"
    aria-expanded="false"
    aria-controls="mobileMenu"
  >
    <i class="bi bi-list fs-3 mobileMenuIcon"></i>
  </button>
</div>
<div class="collapse d-md-none mobile_menu_div" id="mobileMenu">
  <div class="mobile-menu p-3">
    <div class="logo mb-3">
      <img
        src="../../../assets/miami-marlins.png"
        alt="Logo"
      />
    </div>
    <p>Earn Points</p>
    <p>Club 305</p>
    <select class="form-select mb-3" aria-label="Help Menu">
      <option selected>Help</option>
      <option value="1">Faqs</option>
    </select>
    <div class="challenges">
      <i class="bi bi-trophy-fill"></i>
      <p>23463268 Pts</p>
    </div>
    <div class="price">
      <i class="bi bi-currency-dollar"></i>
      <p>$50.00</p>
    </div>
    <div class="notification">
      <i class="bi bi-bell-fill position-relative notify">
        <span class="badge bg-danger position-absolute translate-middle"
          >1</span
        >
      </i>
    </div>
    <select class="form-select" aria-label="User Menu">
      <option selected>Riley</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
</div>

<div
  class="menu_selection_name d-flex justify-content-center align-items-center w-100"
>
  <h1 class="text-center">CHALLENGES</h1>
</div>
<div class="navbar">
  <div class="container">
    <ul>
      <!-- <li>
        <a
          routerLink="home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li> -->
      <li>
        <a
          routerLink="/challenges"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Challenges
        </a>
      </li>
      <!-- <li>
        <a
          routerLink="/rewards"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Rewards</a
        >
      </li> -->
      <li>
        <a
          routerLink="/benefits"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Benefits
        </a>
      </li>
      <li>
        <a
          routerLink="/faqs"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Faqs</a
        >
      </li>
      <!-- <li>
        <a
          routerLink="/wallet"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Rewards Wallet</a
        >
      </li> -->
    </ul>
  </div>
</div>
